@import "../Variables.scss";
@import "../Mixins.scss";

.tabs__box {
  margin: 0 -20px 20px -20px;
}

.tabs__box:after {
  content: "";
  margin: -4px 20px 0;
  display: block;
  border-bottom: 1px solid #dddddd;
}

.tabs__tab {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: $paragraph;
  background: transparent;
  color: $grey;
  margin: 4px;
  cursor: pointer;
}

.tabs__tab:hover {
  color: $black-text;
}

.tabs__tab-active {
  color: $black-text;
}

.tabs__tab-active:after {
  content: "";
  display: block;
  padding-top: 16px;
  margin-bottom: -16px;
  border-bottom: 2px solid $black-text;
}
