@import "../Variables.scss";
@import "../Mixins.scss";

.toggleContainer {
}

.toggleBtn {
  border: none;
  border-radius: 50px;
  font-size: 0.5rem;
  padding: 0.5rem 1.5rem;
  background: $bg-color-dark;
  color: $white-text;
}

body.dark-mode {
  background: $bg-color-dark;
  color: $white-text;
  a,
  .tabs__tab {
    color: #f7f7f774;
  }

  .tabs__tab-active {
    color: $white-text;
  }

  .tabs__tab-active:after {
    border-bottom: 2px solid $white-text;
  }
  /* 
  .tabs__tab:hover {
    color: $white-text;
  } */

  .toggleBtn {
    background: $bg-color-light;
    color: $black-text;
  }
}
