@import "../Variables.scss";

.home {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 11vh;
  
  h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 200;
  }

  span {
    font-family: $secondary-font;
    font-weight: light;
    font-style: oblique;
    font-size: 4vw;
  }
}
