@import "../Variables.scss";
@import "../Mixins.scss";

.home {
  position: absolute;
  right: 5%;
  left: 5%;
  bottom: 11vh;
  font-weight: 200;

  h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: $paragraphL;

    span {
      font-family: $secondary-font;

      font-weight: light;
      font-style: oblique;
      letter-spacing: 2px;
      font-size: $paragraph;
    }

    @include tablet {
      font-size: $headline;

      span {
        font-size: $paragraphL;
        padding-left: 1rem;
      }
    }

    @include desktop {
      font-size: $headlineL;

      span {
        font-size: $headline;
      }
    }

    @include desktop-xl {
      font-size: $headlineXL;
      span {
        font-size: $headline;
      }
    }
  }
}
