@import "../variables.scss";
@import "../Mixins.scss";

.projects {
  height: 100%;
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0.5%;

    @include tablet {
      grid-template-columns: 50% 50%;
    }

    .item {
      height: 100%;
    }
  }
}
