@import "./scss/Variables.scss";
@import "./scss/Mixins.scss";

.App {
  height: 100vh;
  margin: 5%;
  color: $black-text;
  background-color: $bg-color-light;

  @include for-tablet-portrait-up {
  }

  @include for-tablet-landscape-up {
  }

  @include for-desktop-up {
  }

  @include for-big-desktop-up {
    margin: 10%;
  }
}
