@import "./scss/Variables.scss";
@import "./scss/Mixins.scss";

/* || General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: $black-text;
}

html {
  overflow-x: hidden;
  overflow: hidden;
}

body {
  background: $bg-color-light;
  font-family: $primary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;

  @include desktop {
    font-size: 100%;
  }
}
