$bg-color-dark: #262626;
$bg-color-light: #D9D3C7;
$black-text: #262626;
$white-text: #D9D3C7;

$accent-color: #1ba68c;
$headlineXL: 4rem;
$headline: 3rem;
$paragraph: 1rem;
$small: 0.7rem;

$page-margin: 5%;

$primary-font: Neue Haas Grotesk, sans-serif;
$secondary-font: bodoni URW, serif;

$grey: rgba(0, 0, 0, 0.5);
$light-grey: #b5b5b5;
