$bg-color-dark: #262626;
$bg-color-light: #f7f7f7;

$black-text: #262626;
$white-text: #f7f7f7;

$primary-font: campaign, sans-serif;
$secondary-font: baskerville-display-pt, serif;

$grey-dark-mode: rgba(66, 66, 66, 0.712);


